# Backend
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
JWT_SECRET=
JWT_REFRESH_SECRET=
NODE_ENV=
PORT=4000
WOMPI_PUBLIC_KEY=
WOMPI_PRIVATE_KEY=
WOMPI_INTEGRITY_SECRET=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_WOMPI_PUBLIC_KEY=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
