# Node
node_modules/
.pnpm-store/

# Env files
.env               # local env
.env.local         # si existe
.env.test
.env.docker        # secrets para Docker
!.env.example      # mantener versionado

# Next.js
.next/
out/

# Logs
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# Docker
mysql_data/        # volumen de datos
docker/mysql/init.sql  # si contiene seeds o datos sensibles

docker-compose.yml