---
import { Header } from "@/components/Header";
import "../styles/global.css";

import { AuthContent } from "@/components/AuthContent.jsx"; // componente React
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Rifas Online</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>

  <body class="text-white">
    <Header client:load />
    <!-- Contenido que depende del rol -->
    <AuthContent client:load />
  </body>
</html>
