---
import User from "@/layouts/user.astro";
import { RaffleService } from "../../services/raffleService";
import type { Raffle } from "@/types/Raffle";

export const prerender = false;

const raffleService = new RaffleService();
const idString = Astro.params.id;

if (!idString) {
  throw new Error("No se recibió ID en la URL");
}

const id = parseInt(idString);
if (isNaN(id)) throw new Error("ID inválido");

const token = Astro.cookies.get("token")?.value;
console.log("token", token);
if (!token) throw new Error("Usuario no autenticado");

const raffle: Raffle = await raffleService.getRaffleById(id, token);
---

<User>
  <h1 class="text-4xl font-bold mb-4">{raffle.title}</h1>
  <p class="text-xl mb-2">Precio: {raffle.price}</p>
  <p class="text-xl mb-4">Tickets: {raffle.total_numbers}</p>
  <a href="/raffles" class="text-purple-600 underline">Volver a rifas</a>
</User>
